#define RT_MANIFEST 24
1 RT_MANIFEST "embed_resources.exe.manifest"
MAINICON ICON "../../test_rc/love.ico"
TEST ICON "../../test_rc/cog.ico"

BALL BITMAP "../../test_rc/ball.bmp"

ICE CURSOR "../../test_rc/ice.cur"

INDIE FONTFILE  "../../test_rc/IndieFlower-Regular.ttf"

STRINGTABLE
{
    0, "Enter your name here"
    1, "Say my name"
    2, "Embed example"
} 
